<!DOCTYPE html>
<html ng-app="tindur">
  <head>
  <title>Tindur</title>
  <link rel="stylesheet" type="text/css" href="../../build/bundle.css">
  <script src="../../build/bundle.js"></script>
  </head>

  <body>
    <main ng-controller="GameController as gameCtrl">
      <form novalidate name="controls">

        <section id="movement">
          <h2>Move</h2>
          <input type="button" ng-click="gameCtrl.moveDirection('climb')" value="Climb">
          <input type="button" ng-click="gameCtrl.moveDirection('march')" value="March">
          <input type="button" ng-click="gameCtrl.moveDirection('retreat')" value="Retreat">
          <input type="button" ng-click="gameCtrl.moveDirection('leap')" value="leap">
        </section>

        <section id="action" ng-show="gameCtrl.location.deity">
          <h2>Fight</h2>
          <input type="button" ng-click="" value="attack">          
        </section>
      </form>

      <section id="playScreen">
        <h2>What's happening:</h2>
        <ol>
          <li ng-repeat="move in gameCtrl.history">{{move}}</li>
        </ol>
      </section>
    </main>
  </body>
</html>
