$app-sky: #030A24;
$app-gold: #E8BF19;
$app-tomato: #FF3400;
$app-greenflare: #00FF65;

$app-blacktique: #001011;
$app-bluetique: #093A3E;
$app-bluedried: #3AAFB9;
$app-bluebaby: #64E9EE;
$app-blueprime: #97C8EB;
