@import "vendor/normalize.css";
@import "_theme.scss";

body {
  background-color: $app-blacktique;
}

h1, h2 {
  color: $app-blueprime;
}

pre, p {
  color: white;
}

ol li {
  color: white;
}

.warning {
  color: $app-tomato;
}
