<!DOCTYPE html>
<html ng-app="adventureApp">
  <head>
    <link rel="stylesheet" type="text/css" href="bundle.css">
    <script src="bundle.js"></script>
  </head>
  <body>
    <main ng-controller="GameController as gameCtrl">
      <section>
        <h2> {{ gameCtrl.player.name }} </h2>
        <h3> HP: {{ gameCtrl.player.hp }} </h3>
        <h3> XP: {{ gameCtrl.player.xp }} </h3>
        <h3> Location: {{ gameCtrl.player.location }} </h3>
      </section>
      <section class="combat" ng-show="gameCtrl.combat">
        <h2> {{ gameCtrl.room.foes.name }}, Currently: {{ gameCtrl.room.foes.status }} </h2>
        <h3> HP: {{ gameCtrl.room.foes.hp }} </h3>
        <button type="button" ng-click="gameCtrl.playerAttack()" value="Attack">Attack</button>
      </section>
      <form novalidate name="form">
        <p name="gameCtrl.room.name">{{gameCtrl.room.description}}
        <select ng-model="gameCtrl.direction">
          <option value="north"> North </option>
          <option value="south"> South </option>
          <option value="east"> East </option>
          <option value="west"> West </option>
        </select>
        <input type="button" ng-click="gameCtrl.movement(gameCtrl.direction)" value="Move">
      </form>
      <section>
        <h2> Game History: </h2>
        <ol>
          <li ng-repeat="move in gameCtrl.history"> {{ move }} </li>
        </ol>
      </section>
    </main>
  </body>
