<!DOCTYPE html>
<html ng-app = "warApp">
<head>
  <script src = "bundle.js"> </script>
  <link rel = "stylesheet" type = "text/css" href = "bundle.css">
</head>
<body>
  <!--uses the ng controller directive. Connects our main tag using the controller as syntax to our gameController-->
<main ng-controller = "GameController as gameCtrl">
  <form novalidate name = "gameForm">
    <select ng-model="gameCtrl.gameForm.direction">
      <option value="north">north</option> <!--value is what being passed through moveDirection-->
      <option value="south">south</option>
      <option value="east">east</option>
      <option value="west">west</option>
    </select>
    <input type = "button" ng-click= "gameCtrl.moveDirection(gameCtrl.gameForm.direction)" value = "Move">
  </form>
  <section>
  <h2> {{ gameCtrl.player.name}} </h2>
  <h3> HP: </h3> <p> {{gameCtrl.player.hp}} </p>
  <h3> XP: </h3> <p> {{gameCtrl.player.xp}}
  <h3> Location: </h3> <p> {{ gameCtrl.player.location }} </p>
  </section>
  <section>
    <h1> Room: </h1> <p> {{ gameCtrl.room.name }} </p>
  </section>
  <section>
    <h2> Game History: </h2>
    <ol>
      <li ng-repeat = "move in history"> {{ move }} </li>
    </ol>
  </section>
  </main>
</body>
</html>
