@import "./vendor/normalize.css";
@import "./_theme.scss";

body {
  background-color: gray;
  font-family: monospace;
  font-size: 14;
  background-image: url('../image/pacMan.png');
  background-blend-mode: darken;
  opacity: 1;
}

.gameHistory {
  background-color: $app-pink;
  color: $app-mint;
  font-style: italic;
  width: 75%;
  position: relative;
  align-items: center;
}

.genSection {
  color: $app-orange;
}
