@import "vendor/normalize.css";
@import "_theme.scss";

main {
  width: 75%;
  margin: 0 auto;
}

body {
  background-color: $app-background;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
}

h1, h2, h3 {
  color: $app-headings;
}

li, p, pre {
  list-style-type: none;
  color: $app-text;
}

ol {
  padding: 0;
}

img {
  margin-top: 5%;
}

.mainHeading {
  padding-top: 3%;
  margin: 0;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
}

.characterStat {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.characterStat p {
  padding-top: 2%;
  margin-left: 2%;
}

#character, #movement, #action {
  display: inline-block;
}

#movement {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}

#playScreen {
  padding-top: 5%;
  padding-left: 10%;
  text-align: left;
}

#intro {
  text-align: center;
}
